/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;   
}


/* Header */

.pink{
    width: 80%;
    height: 80px;
    background-color: fuchsia;
    margin: 15px auto;
}
